
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css";
@import "https://fonts.googleapis.com/css?family=Nunito:400,600,700";
@import "../../../../../assets/account/form-2.css";
@import "../../../../../assets/account/main.css";
@import "../../../../../assets/account/perfect-scrollbar.css";
@import "../../../../../assets/account/structure.css";
@import "../../../../../assets/account/monokai-sublime.css";
@import "../../../../../assets/account/switches.css";
@import "../../../../../assets/account/theme-checkbox-radio.css";

.bgbody{
    background: #24C6DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
