@import '../../../../../../assets/dashboard/assets/css/plugins.css';

.sidebar-theme #compactSidebar{
    background: #009688;
    box-shadow:  none;
}
.sidebar-wrapper #compactSidebar .theme-logo{
    background: #009688;
    box-shadow:  none;

}

.sidebar-wrapper #compactSidebar .sidebar-bottom-actions {
    background: #009688;
    box-shadow:  none;

}

