<div class="sidebar-wrapper sidebar-theme">

    <nav id="compactSidebar">

        <ul class="menu-categories">
            <li class="menu">
                <a href="/dashboard" data-active="false"
                   class="menu-toggle">
                    <div class="base-menu">
                        <div class="base-icons">
                            <fa-icon size="lg" [styles]="{'stroke': 'rgba(172, 176, 195, 0.04)', 'color': '#e3e4eb'}"
                                     [icon]="faHome"></fa-icon>
                        </div>
                    </div>
                </a>
                <div class="tooltip"><span>Projects</span></div>
            </li>
        </ul>

        <ul class="menu-categories">
            <li class="menu">
                <a [href]="graphLink" data-active="false"
                   class="menu-toggle">
                    <div class="base-menu">
                        <div class="base-icons">
                            <fa-icon size="lg" [styles]="{'stroke': 'rgba(172, 176, 195, 0.04)', 'color': '#e3e4eb'}"
                                     [icon]="faBarChart"></fa-icon>
                        </div>
                    </div>
                </a>
                <div class="tooltip"><span>Chart</span></div>
            </li>

            <li class="menu">
                <a [href]="remoteLink" data-active="false"
                   class="menu-toggle">
                    <div class="base-menu">
                        <div class="base-icons">
                            <fa-icon size="lg" [styles]="{'stroke':  'rgba(172, 176, 195, 0.04)', 'color': '#e3e4eb'}"
                                     [icon]="faGears"></fa-icon>
                        </div>
                    </div>
                </a>
                <div class="tooltip"><span>Remote</span></div>
            </li>

            <li class="menu">
                <a href="/documentation" class="menu-toggle">
                    <div class="base-menu">
                        <div class="base-icons">
                            <fa-icon size="lg" [styles]="{'stroke': 'rgba(172, 176, 195, 0.04)', 'color': '#e3e4eb'}"
                                     [icon]="faBook"></fa-icon>
                        </div>
                    </div>
                </a>
                <div class="tooltip"><span>Documentation</span></div>
            </li>
        </ul>

        <div class="sidebar-bottom-actions">
                <a title="profile" href="/profile"
                   class="nav-link dropdown-toggle user"
                   id="userProfileDropdown"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <fa-icon size="lg" [styles]="{'stroke': 'rgba(172, 176, 195, 0.04)', 'color': '#e3e4eb'}"
                             [icon]="faUser"></fa-icon>

                </a>
            <a title="logout" (click)="authService.logOut()" href="javascript:void(0);"
               class="nav-link dropdown-toggle user"
               id="userProfileDropdown"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <fa-icon size="lg" [styles]="{'stroke': 'rgba(172, 176, 195, 0.04)', 'color': '#e3e4eb'}"
                         [icon]="faRightFromBracket"></fa-icon>

            </a>
        </div>
    </nav>
</div>
