
        <div class="row layout-top-spacing">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
                <div class="widget widget-card-four">
                    <app-offer-strategy-effectiveness-analysis></app-offer-strategy-effectiveness-analysis>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 layout-spacing">
                <div class="widget widget-card-four">
                    <app-advertising-strategy-display-rate></app-advertising-strategy-display-rate>
                </div>
            </div>

            <div
                class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing"
            >
                <h4 class="graph-title">Churn Graph</h4>
            </div>

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                <div class="widget widget-chart-three">
                    <app-total-churn-rate></app-total-churn-rate>
                </div>
            </div>


        </div>
