<app-dashboard-header></app-dashboard-header>
<div class="main-container" id="container">
    <div id="content" class="main-content">
        <app-dashboard-navbar></app-dashboard-navbar>
        <div class="layout-px-spacing">
            <div class="row layout-top-spacing">
                <div class="col-xl-8col-lg-8 col-12 layout-spacing text-right">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <app-dashboard-footer></app-dashboard-footer>

    </div>
</div>

<!-- 'dashboard/project-details' -->
