<app-dashboard-header></app-dashboard-header>
<div class="main-container" id="container">
    <div id="content" class="main-content">
        <app-dashboard-navbar></app-dashboard-navbar>
        <div class="layout-px-spacing">
            <div class="row layout-top-spacing">

                <div class="col-xl-12col-lg-12 col-12 layout-spacing text-right">
                    <div  style="float:right"
                        class="notification-action-btns d-lg-block d-flex justify-content-between flex-sm-row flex-column">
                        <button class="btn btn-dark  notification-action-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-download-cloud mr-1">
                                <polyline points="8 17 12 21 16 17"></polyline>
                                <line x1="12" y1="12" x2="12" y2="21"></line>
                                <path d="M20.88 18.09A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.29"></path>
                            </svg>
                            Download Settings
                        </button>
                    </div>
                </div>
                <div class="col-xl-8col-lg-8 col-12 layout-spacing text-right">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <app-dashboard-footer></app-dashboard-footer>

    </div>
</div>

<!-- 'dashboard/project-details' -->
