<div class="form-container outer">
  <div class="form-form">
    <div class="form-form-wrap">
      <div class="form-container">
        <div class="form-content">
          <h1 class="">Sign Up</h1>
          <p class="">Sign Up to continue.</p>

          <form
            class="text-left"
            [formGroup]="registerAddForm"
            (ngSubmit)="add()"
          >
            <div class="form-row mb-4">
              <div class="form-group col-md-12">
                <label for="inputEmail">Email </label>
                <span
                  *ngIf="!registerAddForm.controls.Email?.valid"
                  style="color: #dd2c00"
                  >*</span
                >
                <span
                  *ngIf="registerAddForm.controls.Email?.valid"
                  style="color: #aeea00"
                  >*</span
                >
                <input
                  type="email"
                  class="form-control"
                  id="inputEmail"
                  placeholder="Email"
                  formControlName="Email"
                />
                <div
                  class="alert alert-danger"
                  *ngIf="
                    !registerAddForm.controls.Email?.valid &&
                    (registerAddForm.controls.Email?.dirty ||
                      registerAddForm.controls.Email?.touched)
                  "
                >
                  <div *ngIf="registerAddForm.controls.Email.errors?.required">
                    Email is required.
                  </div>

                  <div *ngIf="registerAddForm.controls.Email.errors?.email">
                    Email is not valid.
                  </div>
                </div>
              </div>

              <div class="form-group col-md-6">
                <label for="inputPassword">Password</label>

                <span
                  *ngIf="!registerAddForm.controls.Password?.valid"
                  style="color: #dd2c00"
                  >*</span
                >
                <span
                  *ngIf="registerAddForm.controls.Password?.valid"
                  style="color: #aeea00"
                  >*</span
                >
                <input
                  type="password"
                  class="form-control"
                  id="inputPassword"
                  placeholder="Password"
                  formControlName="Password"
                />

                <password-strength-bar
                  [passwordToCheck]="registerAddForm.controls.Password?.value"
                ></password-strength-bar>

                <div
                  class="alert alert-danger"
                  *ngIf="
                    !registerAddForm.controls.Password?.valid &&
                    (registerAddForm.controls.Password?.dirty ||
                      registerAddForm.controls.Password?.touched)
                  "
                >
                  <div
                    *ngIf="registerAddForm.controls.Password.errors?.required"
                  >
                    Password is required.
                  </div>

                  <div
                    *ngIf="registerAddForm.controls.Password.errors?.minlength"
                  >
                    Password must be at least 8 characters
                  </div>

                  <div
                    *ngIf="
                      registerAddForm.controls.Password.errors
                        ?.lowercaserequired
                    "
                  >
                    Password must contain lowercase letters
                  </div>
                  <div
                    *ngIf="
                      registerAddForm.controls.Password.errors
                        ?.uppercaserequired
                    "
                  >
                    Password must contain uppercase letters
                  </div>
                  <div
                    *ngIf="
                      registerAddForm.controls.Password.errors?.numberrequired
                    "
                  >
                    Password must contain number letters
                  </div>
                </div>
              </div>

              <div class="form-group col-md-6">
                <label for="ConfirmPassword">Confirm Password</label>
                <span
                  *ngIf="!registerAddForm.controls.ConfirmPassword?.valid"
                  style="color: #dd2c00"
                  >*</span
                >
                <span
                  *ngIf="registerAddForm.controls.ConfirmPassword?.valid"
                  style="color: #aeea00"
                  >*</span
                >

                <input
                  type="password"
                  class="form-control"
                  id="ConfirmPassword"
                  placeholder="ConfirmPassword"
                  formControlName="ConfirmPassword"
                />

                <div
                  class="alert alert-danger"
                  *ngIf="
                    !registerAddForm.controls.ConfirmPassword?.valid &&
                    (registerAddForm.controls.ConfirmPassword?.dirty ||
                      registerAddForm.controls.ConfirmPassword?.touched)
                  "
                >
                  <div
                    *ngIf="
                      registerAddForm.controls.ConfirmPassword.errors?.required
                    "
                  >
                    Password is required.
                  </div>

                  <div
                    *ngIf="
                      registerAddForm.controls.ConfirmPassword.errors
                        ?.NoPassswordMatch
                    "
                  >
                    Password do not match.
                  </div>
                </div>
              </div>
            </div>

            <p class="signup-link register">
              Already have an account?
              <a href="account/login">Log in</a>
            </p>
            <div class="form-check">
              <div class="custom-control custom-checkbox checkbox-info">
                <tr>
                  <td>
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="gridCheck"
                      formControlName="Check"
                    />
                    <label
                      class="custom-control-label"
                      for="gridCheck"
                      style="cursor: pointer"
                      >Accept our
                      <u (click)="OpenTermsAndService(termsServiceContent)"
                        >Terms of Service.</u
                      ></label
                    >
                  </td>
                  <td>
                    <span
                      *ngIf="!registerAddForm.controls.Check?.valid"
                      style="color: #dd2c00"
                      >*</span
                    >
                    <span
                      *ngIf="registerAddForm.controls.Check?.valid"
                      style="color: #aeea00"
                      >*</span
                    >
                  </td>
                </tr>

                <div
                  class="alert alert-danger"
                  *ngIf="
                    !registerAddForm.controls.Check?.valid &&
                    (registerAddForm.controls.Check?.dirty ||
                      registerAddForm.controls.Check?.touched)
                  "
                >
                  <div *ngIf="registerAddForm.controls.Check.errors?.required">
                    You must accept our terms and service usage.
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="d-sm-flex justify-content-between">
              <div class="field-wrapper">
                <button
                  [disabled]="!this.registerAddForm.valid"
                  type="submit"
                  class="btn btn-primary"
                  value=""
                >
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #termsServiceContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus
      ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur
      ac, vestibulum at eros.
    </p>
    <p>
      Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
    </p>
    <p>
      Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus
      magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec
      ullamcorper nulla non metus auctor fringilla.
    </p>
    <p>
      Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus
      ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur
      ac, vestibulum at eros.
    </p>
    <p>
      Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
    </p>
    <p>
      Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus
      magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec
      ullamcorper nulla non metus auctor fringilla.
    </p>
    <p>
      Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus
      ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur
      ac, vestibulum at eros.
    </p>
    <p>
      Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
    </p>
    <p>
      Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus
      magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec
      ullamcorper nulla non metus auctor fringilla.
    </p>
    <p>
      Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus
      ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur
      ac, vestibulum at eros.
    </p>
    <p>
      Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
    </p>
    <p>
      Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus
      magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec
      ullamcorper nulla non metus auctor fringilla.
    </p>
    <p>
      Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus
      ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur
      ac, vestibulum at eros.
    </p>
    <p>
      Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
    </p>
    <p>
      Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus
      magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec
      ullamcorper nulla non metus auctor fringilla.
    </p>
    <p>
      Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus
      ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur
      ac, vestibulum at eros.
    </p>
    <p>
      Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
    </p>
    <p>
      Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus
      magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec
      ullamcorper nulla non metus auctor fringilla.
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
  </div>
</ng-template>
