<div class="profile">
    <h1>Personal Info</h1>
    <h2>Full Name</h2>
    <p><input
        type="name"
        class="form-control"
        id="name"
        [formControl]="name"
        [placeholder]="this.localStorageService.getItem('name')"
    />
        <button class="btn" (click)="setUsername()">update</button></p>

    <h2>Email</h2>
    <p><input
        type="email"
        class="form-control"
        id="email"
        [formControl]="email"
        [placeholder]="this.localStorageService.getItem('email')"

    />
        <button class="btn" (click)="setEmail()">update</button></p>

        <h2>Valid Password</h2>
        <p>
            <input
                type="password"
                class="form-control"
                id="valid password"
                placeholder="•••••••"
                [formControl]="validPassword"
            /></p>

    <h2>New Password</h2>
    <p>
        <input
            type="password"
            class="form-control"
            id="password"
            placeholder="•••••••"
            [formControl]="password"
        />
         <button style="" class="btn" (click)="setPassword()">Change</button></p>
</div>
