<div id="content" class="main-content">
    <div class="layout-px-spacing">
        <div class="page-header">
            <nav class="breadcrumb-one" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="javascript:void(0);">Churn Prediction</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <a href="javascript:void(0);">Remote Settings</a>
                    </li>
                </ol>
            </nav>
        </div>

        <div class="row layout-top-spacing">
            <div
                style="margin: auto"
                class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12 layout-spacing"
            >
                <h4 class="graph-title">Create Your Remote Strategy</h4>
            </div>

            <div
                style="margin: auto; margin-bottom: -30px"
                class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12 layout-spacing"
            >
                <div style="margin: auto; margin-bottom: 30px">
                    <button
                        (click)="advClickEvent()"
                        class="btn btn-outline-primary"
                        type="button"
                    >
                        Adv
                    </button>
                    <button
                        (click)="offerClickEvent()"
                        class="btn btn-outline-primary"
                        type="button"
                    >
                        offer
                    </button>
                    <div style="float: right; margin-top: 5px">
                        <button
                            class="btn btn-outline-dark btn-xl dropdown-toggle"
                            type="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                        >
                            {{ selectedChurnDropdownDateType }}
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="feather feather-chevron-down"
                            >
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" (click)="selectChurnDateType(1)">Hour</a>
                            <div role="separator" class="dropdown-divider"></div>
                            <a class="dropdown-item" (click)="selectChurnDateType(2)">Day</a>
                        </div>
                    </div>
                    <input
                        style="float: right; width: 10%; margin-right: 10px"
                        type="number"
                        class="form-control"
                        placeholder="{{ churnDateMinute }}"
                        aria-label="dropdown"
                        (keyup)="churnOnChange($event)"
                    />
                    <span style="float: right; margin-top: 10px; margin-right: 10px">
            Set players churn date:
          </span>
                </div>
            </div>
        </div>

        <app-adv-remote-settings *ngIf="isAdvPageActive"></app-adv-remote-settings>

        <app-offer-remote-settings
            *ngIf="!isAdvPageActive"
        ></app-offer-remote-settings>
    </div>
</div>
