<div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
    <button class="button" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">{{this.selectedMessage}}</button>
    <div ngbDropdownMenu aria-labelledby="dropdownManual">
        <button
            ngbDropdownItem
            value="1"
            (click)="selectTimer($event)"
        >
            1 minute
        </button>

        <button ngbDropdownItem value="5" (click)="selectTimer($event)">
            5 minutes
        </button>

        <button ngbDropdownItem value="10" (click)="selectTimer($event)">
            10 minutes
        </button>

        <button ngbDropdownItem value="30" (click)="selectTimer($event)">
            30 minutes
        </button>
    </div>
</div>
