
        <div class="row layout-top-spacing">
            <div
                class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing"
            >
                <div>
                    <button
                        (click)="advClickEvent()"
                        class="btn btn-primary btn-sm"
                        type="button"
                    >
                        Adv
                    </button>
                    <button
                        (click)="offerClickEvent()"
                        class="btn btn-primary btn-sm"
                        type="button"
                    >
                        offer
                    </button>
                    <div style="float: right; margin-top: 5px">
                        <button
                            class="btn btn-success  btn-lg"
                            type="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                            (click)="sendStrategy()"
                        >
                            Send {{selectedName}} to client
                        </button>

                    </div>
                </div>
            </div>
        </div>

        <app-adv-remote-settings *ngIf="isAdvPageActive"></app-adv-remote-settings>

        <app-offer-remote-settings
            *ngIf="!isAdvPageActive"
        ></app-offer-remote-settings>
