
        <div class="row layout-top-spacing">
            <div
                class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing"
            >
                <div>
                    <button
                        (click)="advClickEvent()"
                        class="btn btn-primary btn-sm"
                        type="button"
                    >
                        Interstitial
                    </button>
                    <button
                        (click)="offerClickEvent()"
                        class="btn btn-primary btn-sm"
                        type="button"
                    >
                        Offer
                    </button>
                    <button
                        class="btn btn-primary btn-sm"
                        type="button"
                    >
                        Challenge
                    </button>
                    <button
                        class="btn btn-primary btn-sm"
                        type="button"
                    >
                        Rewarded-Ads
                    </button>
                    <div style="float: right; margin-top: 5px;">
                        <select name="cars" id="cars">
                            <option value="saab">Will Churn</option>
                            <option value="volvo">All</option>
                            <option value="opel">Most Play</option>
                            <option value="audi">Least Play</option>
                            <option value="audi">Paid Client</option>
                            <option value="audi">Not Paid Client</option>
                        </select>
                        <button
                            style="margin-left: 10px"
                            class="btn btn-success  btn-lg"
                            type="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                            (click)="sendStrategy()"
                        >
                            Send {{selectedName}} to client
                        </button>

                    </div>
                </div>
            </div>
        </div>

        <app-adv-remote-settings *ngIf="isAdvPageActive"></app-adv-remote-settings>

        <app-offer-remote-settings
            *ngIf="!isAdvPageActive"
        ></app-offer-remote-settings>
